<el-card shadow="never" style="border: 0;">
    <yun-form
        :steps="['设置基础资料','设置扩展文件','添加菜单与数据']"
        @submit="onSubmit"
        :columns="columns">
        <template #default>
            {:token_field()}
        </template>
        <template #tables="{step,rows}">
            <el-form-item label="{:__('选择表')}:" v-if="step==2">
                <el-select v-model="rows.tables" placeholder="请选择" multiple filterable style="width: 100%">
                    {foreach $table as $value}
                    <el-option value="{$value}">{$value}</el-option>
                    {/foreach}
                </el-select>
            </el-form-item>
        </template>
        <template #config="{step,rows}">
            <el-form-item label="{:__('选择配置')}:" v-if="step==2">
                <el-select v-model="rows.config" placeholder="请选择" multiple filterable style="width: 100%">
                    {foreach $sonfig as $key=>$value}
                    <el-option :value="{$key}" label="{$value.name}-{$value.title}"></el-option>
                    {/foreach}
                </el-select>
                <el-alert style="margin-top:5px;" type="warning">最好选择【扩展配置】分组中的属性，否则安装的时候容易造成配置冲突</el-alert>
            </el-form-item>
        </template>
        <template #menu="{step}">
            <el-form-item label="{:__('选择菜单')}:" v-if="step==2">
                <el-tree ref="tree" :props="{children:'childlist',label:'title'}" node-key="id" show-checkbox :default-checked-keys="checkedKey" :data="treedata" style="width: 100%;"></el-tree>
            </el-form-item>
        </template>
    </yun-form>
</el-card>
