<component is="style">
    .status{
        display: flex;
        align-items: center;
    }
</component>
<el-card shadow="never">
    <template #header>
        <el-alert effect="dark" :closable="false" title="使用说明">任务队列为异步执行，通常用于定时任务，循环任务，发送消息等，让队列任务与主业务进行解耦，使其不阻塞主业务的操作</el-alert>
    </template>
    <el-form label-width="120px" label-position="top">
        <el-form-item label="{:__('服务状态')}:">
            <el-alert style="margin-bottom:10px;" type="warning">
                如果服务启动不成功，请在根目录下手动执行命令:<el-tag style="margin:0 10px;">php think Queue</el-tag>linux环境下使用nohup让服务在后台运行<el-tag style="margin:0 10px;">nohup php think Queue > queue.log &</el-tag>windows环境下请勿关闭进程窗口。
            </el-alert>
            <div class="status" v-if="!status">
                <i class="fa fa-spinner fa-spin"></i>
                <span style="margin-left: 5px;">服务检测中..</span>
            </div>
            <div class="status" v-if="status == 'normal'">
                <el-tag  type="success">{:__('正常运行')}</el-tag>
                <span style="margin-left: 30px;margin-right: 30px;">运行时长：{{parseTime(keeptime)}}</span>
                <el-button size="small" type="danger" @click="changeStatus(0)">停止运行</el-button>
            </div>
            <div class="status" v-if="status == 'hidden'">
                <el-tag type="info">{:__('已经停止')}</el-tag>
                <span style="margin-left: 30px;margin-right: 30px;">停止时间：{{stoptime}}</span>
                <el-button size="small" type="success" @click="changeStatus(1)">启动服务</el-button>
            </div>
        </el-form-item>
        <el-divider></el-divider>
        <el-form-item label="{:__('添加任务')}:">
            <el-alert style="margin-bottom:10px;" type="warning">添加新任务需要完成一个处理类，该处理类实现了接口<el-tag>app\admin\command\queueEvent\EventInterFace</el-tag>接口。</el-alert>
            <el-button type="success" size="small" @click="addEvent">{:__('添加')}</el-button>
        </el-form-item>
        <el-divider></el-divider>
        <el-form-item label="{:__('当前任务')}:">
            <el-alert style="margin-bottom:10px;" type="warning">运行中的任务，每5分钟刷新一次。</el-alert>
            <el-table :data="eventList" style="width: 100%">
                <el-table-column prop="title" label="{:__('任务名称')}"></el-table-column>
                <el-table-column prop="function" label="{:__('处理类')}"></el-table-column>
                <el-table-column label="{:__('任务类型')}">
                    <template #default="{row}">
                        <el-tag v-if="row.limit == 0">{:__('循环任务')}</el-tag>
                        <el-tag v-else type="warning">{:__('定时任务')}-{{row.limit}}{:__('次')}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="times" label="{:__('已执行次数')}"></el-table-column>
                <el-table-column label="{:__('执行间隔')}">
                    <template #default="{row}">
                    {{parseTime(row.delay) || '立即执行'}}
                    </template>
                </el-table-column>
                <el-table-column label="{:__('规则限制')}">
                    <template #default="{row}">
                        {{parseFilter(row.filter)}}
                    </template>
                </el-table-column>
                <el-table-column label="{:__('上次执行时间')}" width="200">
                    <template #default="{row}">
                        {{parseLasttime(row.lasttime)}}
                    </template>
                </el-table-column>
                <el-table-column label="{:__('错误')}" width="300">
                    <template #default="{row}">
                        <el-tag type="danger" v-if="row.error">{{row.error}}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="{:__('状态')}" width="120">
                    <template #default="{row}">
                        <el-switch active-value="normal" inactive-value="hidden" v-model="row.status"></el-switch>
                    </template>
                </el-table-column>
                <el-table-column label="{:__('操作')}" width="120">
                    <template #default="{row}">
                    <el-button type="danger" size="small" @click="delEvent(row.id)">{:__('删除')}</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-form-item>
        <el-form-item label="{:__('运行日志')}:">
            <el-input type="textarea" autosize v-model="log.content" style="margin-bottom: 10px;"></el-input>
            <el-pagination :current-page="log.currentPage" :small="true" background @current-change="getLog" layout="prev, pager, next" :page-count="log.total" />
        </el-form-item>
    </el-form>
</el-card>