<el-card shadow="never" style="border:0;">
    <el-tabs v-model="activeTab" type="card">
        <el-tab-pane label="控制器.php" name="controller">
            <el-input style="border: 0" autosize type="textarea" :value="controller"></el-input>
        </el-tab-pane>
        <el-tab-pane label="模型.php" name="model">
            <el-input style="border: 0" autosize type="textarea" :value="model"></el-input>
        </el-tab-pane>
        <el-tab-pane label="视图.html" name="view">
            <el-input style="border: 0" autosize type="textarea" :value="view"></el-input>
        </el-tab-pane>
        <el-tab-pane label="脚本.js" name="js">
            <el-input style="border: 0" autosize type="textarea" :value="js"></el-input>
        </el-tab-pane>
    </el-tabs>
</el-card>