<!DOCTYPE html>
<html {if $config.elementUi.dark}class="dark"{/if}>
<head>
{include file="common/meta" /}
<link rel="stylesheet" href="{:request()->domain()}/assets/css/yunqi.css" />
</head>
<body>
    <div id="app">
        <el-container id="container" style="display: none;">
            <el-main style="padding: 0px;border-radius:4px;">
                <el-scrollbar id="mainScrollbar">
                {__CONTENT__}
                </el-scrollbar>
            </el-main>
        </el-container>
    </div>
</body>

{include file="common/script" /}
</html>
