<el-affix target="#app">
    <el-card shadow="always">
        <el-button-group>
            <template v-if="activeTab=='add' || activeTab=='edit' || activeTab=='step'">
            <el-button type="primary" @click="getFormItem">获取表单值</el-button>
            <el-button type="primary" @click="setFormItem">设置表单值</el-button>
            <el-button v-if="ishideform"  type="primary" @click="showFormItem">显示表单项</el-button>
            <el-button v-else type="primary" @click="hideFormItem">隐藏表单项</el-button>
            <el-button type="primary" @click="changeFormItem">修改表单属性</el-button>
            </template>
            <el-button type="success" @click="showCode">查看源代码</el-button>
        </el-button-group>
    </el-card>
</el-affix>
<el-card shadow="always" style="margin-top: 10px">
    <el-tabs v-model="activeTab">
        <el-tab-pane label="添加数据" name="add">
            <!--action可以不用设置，则默认提交的地址为当前页面url-->
            <yun-form ref="addform" :columns="columns" action="demo/form/add" @submit="onSubmit" @success="onSuccess" @fail="onFail">
                <template #default>
                    {:token_field()}
                </template>
            </yun-form>
        </el-tab-pane>
        <el-tab-pane label="修改数据" name="edit">
            <yun-form ref="editform" :columns="columns" :data="rows" action="demo/form/edit?ids=1" @submit="onSubmit">
                <template #default>
                    {:token_field()}
                </template>
            </yun-form>
        </el-tab-pane>
        <el-tab-pane label="按步骤表单" name="step">
            <yun-form ref="stepform" :columns="columns" :steps="steps" action="demo/form/add" @submit="onSubmit" @step="onStep">
                <template #default>
                    {:token_field()}
                </template>
            </yun-form>
        </el-tab-pane>
        <el-tab-pane label="自定义底部" name="footer">
            <yun-form ref="footerform" :columns='[{field:"test",title:"测试",edit:"text"}]'>
                <template #default>
                    {:token_field()}
                </template>
                <template #footer>
                    <el-button type="primary" style="width: 100%">提交</el-button>
                </template>
            </yun-form>
        </el-tab-pane>
        <el-tab-pane label="自定义表单项" name="slot">
            <yun-form @submit="onSubmit" :data='{test1:"在顶部自定义的表单项",test2:"通过json渲染的表单项",test3:"通过插槽自定义的表单项"}' :columns='[{field:"test2",title:"测试2",edit:"text"},{field:"test3",title:"测试3",edit:"slot"}]'>
                <template #default="{rows}">
                    {:token_field()}
                    <el-form-item label="测试1:">
                        <el-input v-model="rows.test1"></el-input>
                    </el-form-item>
                </template>
                <template #test3="{rows}">
                    <el-form-item label="测试3:">
                        <el-input v-model="rows.test3"></el-input>
                    </el-form-item>
                </template>
            </yun-form>
        </el-tab-pane>
        <el-tab-pane label="自定义name">
            <yun-form action="demo/form/setname" :columns='[{field:"test1",title:"测试1",edit:{form:"input",type:"text",value:"默认的name为：row[test1]"}},{field:"test2",title:"测试2",edit:{form:"input",type:"text",name:"test2",value:"修改后的name为：test2"}}]'>
                <template #default>
                    {:token_field()}
                </template>
            </yun-form>
        </el-tab-pane>
        <el-tab-pane label="追加表单项" name="append">
            <yun-form @submit="onSubmit" action="demo/form/appendname" :columns='[{field:"test1",title:"测试1",edit:{form:"input",type:"text",value:"已定义的表单项1"}}]'>
                <template #default>
                    {:token_field()}
                </template>
            </yun-form>
        </el-tab-pane>
    </el-tabs>
</el-card>
