<meta charset="utf-8">
<title>{:site_config('basic.sitename')}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="renderer" content="webkit">
<meta name="referrer" content="never">
<meta name="robots" content="noindex, nofollow">
<link rel="shortcut icon" href="{:request()->domain()}/favicon.ico" />
<link rel="stylesheet" href="{:request()->domain()}/assets/css/element-plus.css" />
<link rel="stylesheet" href="{:request()->domain()}/assets/css/theme/dark.css" />
<link rel="stylesheet" href="{:request()->domain()}/assets/libs/font-awesome/css/font-awesome.min.css" />